@page "/Registro/Create"
@inject ComboService Service
@inject ToastService toastService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>
<EditForm Model="Combos" OnValidSubmit="Guardar">
	<DataAnnotationsValidator/>
	<div class="container">
		<div class="card shadow">
				@*header*@
				<div class="card-header">
					<h3><strong>Crear Nuevo Combo</strong></h3>
				</div>
				@*body*@
				<div class="card-body">
					<div class="row">
						<div class="col-3">
						<label class="form-label"><strong>Combo</strong></label>
							<InputText class="form-control" @bind-Value="Combos.Descripcion"></InputText>
						<ValidationMessage For="(()=> Combos.Descripcion)" />

						<label class="form-label"><strong>Fecha</strong></label>
							<InputDate class="form-control" @bind-Value="Combos.Fecha"></InputDate>
						<ValidationMessage For="(()=> Combos.Fecha)" />
							
						<label class="form-label"><strong>Precio</strong></label>
							<InputNumber class="form-control" @bind-Value="Combos.Precio"></InputNumber>
						<ValidationMessage For="(()=> Combos.Precio)" />

						<label class="form-label"><strong>Vendido</strong></label>
						<InputSelect class="form-control" @bind-Value="Combos.Vendido">
							<option value="true">Vendido</option>
							<option value="False">No Vendido</option>
						</InputSelect>
						<ValidationMessage For="(()=> Combos.Vendido)" />
						</div>
					</div>
				</div>
				@*Footer*@
				<div class="card-footer">
					<a href="/Registro/Index" class="btn btn-outline-warning bi bi-arrow"></a>
				<button type="button" class="btn btn-outline-primary bi bi-arrow-counterclockwise" @onclick="Nuevo"></button>
					<button type="submit" class="btn btn-outline-success bi bi-floppy-fill"></button>
				</div>
			</div>
		</div>
</EditForm>

@code {
	public Combos Combos{ get; set; } = new Combos();

	public async Task Nuevo()
	{
		 Combos = new Combos();
	}

	public async Task Guardar()
	{
		var crear = await Service.Guardar(Combos);
		if (crear)
		{
			toastService.Notify(new(ToastType.Success,
			iconName: IconName.None,
			title: "Exito", 
			helpText: $"{DateTime.Now}",
			message: $"Se a guardo el Combo correctamente."));
			Nuevo();
		}
		else
		{
			toastService.Notify(new(ToastType.Danger,
			iconName: IconName.None,
			title: "Error",
			helpText: $"{DateTime.Now}",
			message: $"No se agrego correctamente."));
		}
	}
}
